<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <header>
        <img src="../../../assets/img/logo.svg" alt="Logo" class="logo">
    </header>
    <main>
        <h1 class="title">Аутентифікація</h1>
        <form action="" style="width: 580px;" class="form">
            <div class="form__input-text">
                <input type="text" name="email" placeholder="Пошта" id="email">
                <label for="email">Пошта</label>
            </div>
            <div class="form__input-text">
                <input type="password" name="password" placeholder="Пароль" id="password">
                <label for="password">Пароль</label>
            </div>
            <div class="form__bottom">
                <a href="" class="button btn-success">Увійти</a>
                <div class="form__bottom-right">
                    <h6 class="block-title">Ще немає аккаунта?</h6>
                    <a href="" class="block-subtitle">Реєстрація</a>
                </div>
            </div>
        </form>
    </main>
    <footer class="footer">
        <h6 class="footer__text">©2024 Company Name</h6>
        <div class="footer__right">
            <a href="" class="link">Техпідтримка</a>
            <h6 class="footer__text">Построено на <a href="" class="link">OpenCRM</a></h6>
        </div>
    </footer>
</body>
</html>