<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизація | CRM</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <header>
        <nav class="sidenav">
            <img src="../../../assets/img/logolight.svg" alt="Logo" class="logo">
            <a href="" class="sidenav__green-item"><img src="../../../assets/img/avatar.png" alt="User">Іван Іванко</a>
            <ul>
                <li><a href=""><img src="../../../assets/img/icon/users.svg" alt="User">Користувачі</a></li>
                <li><a href=""><img src="../../../assets/img/icon/groups company.svg" alt="Groups company">Групи компаній</a></li>
                <li><a href=""><img src="../../../assets/img/icon/counterparties.svg" alt="Counterparties">Контрагенти</a></li>
                <li><a href=""><img src="../../../assets/img/icon/document.svg" alt="Document">Контракти</a></li>
                <li><a href=""><img src="../../../assets/img/icon/discount.svg" alt="Discount">Угоди</a></li>
                <li><a href=""><img src="../../../assets/img/icon/settings.svg" alt="Settings">Налаштування</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="title">Аутентифікація</h1>
        <form action="" style="width: 580px;" class="form">
            <div class="form__input-text">
                <input type="email" name="email" placeholder="Пошта" id="email">
                <label for="email">Пошта</label>
            </div>
            <div class="form__input-text">
                <input type="password" name="password" placeholder="Пароль" id="password">
                <label for="password">Пароль</label>
            </div>
            <div class="form__bottom">
                <a href="" class="button btn-success">Увійти</a>
                <div class="form__bottom-right">
                    <h6 class="block-title">Ще немає аккаунта?</h6>
                    <a href="register.html" class="block-subtitle">Реєстрація</a>
                </div>
            </div>
        </form>
    </main>
    <footer class="footer">
        <h6 class="footer__text">©2024 Company Name</h6>
        <div class="footer__right">
            <a href="" class="link">Техпідтримка</a>
            <h6 class="footer__text">Построено на <a href="" class="link">OpenCRM</a></h6>
        </div>
    </footer>
</body>
</html>