<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизація | CRM</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <header>
        <nav class="sidenav">
            <img src="../../../assets/img/logolight.svg" alt="Logo" class="logo">
            <a href="" class="sidenav__green-item"><img src="../../../assets/img/avatar.png" alt="User">Іван Іванко</a>
            <ul>
                <li><a href=""><img src="../../../assets/img/icons/users.svg" alt="User">Користувачі</a></li>
                <li><a href=""><img src="../../../assets/img/icons/groups company.svg" alt="Groups company">Групи компаній</a></li>
                <li><a href=""><img src="../../../assets/img/icons/counterparties.svg" alt="Counterparties">Контрагенти</a></li>
                <li><a href=""><img src="../../../assets/img/icons/document.svg" alt="Document">Контракти</a></li>
                <li><a href=""><img src="../../../assets/img/icons/discount.svg" alt="Discount">Угоди</a></li>
                <li><a href=""><img src="../../../assets/img/icons/settings.svg" alt="Settings">Налаштування</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <section class="widgets">
                <div class="widget-summary-alert">
                    <div class="widget-summary-alert__flex">
                        <h5 class="widget-summary-alert__count">15</h5>
                        <h5 class="widget-summary-alert__info">користувачів виявили інтерес</h5>
                    </div>
                    <div class="widget-summary-alert__flex">
                        <a href="" class="medium-btn button">обробити</a>
                        <p class="widget-summary-alert__advice">Обробіть заявки користувачів, створіть контрагентів або позначте їх як переглянуті.</p>
                    </div>
                </div>
                <div class="widget-summary-alert">
                    <div class="widget-summary-alert__flex">
                        <h5 class="widget-summary-alert__count">23</h5>
                        <h5 class="widget-summary-alert__info">контрагента очікують у стадії "Підписання контракту"</h5>
                    </div>
                    <div class="widget-summary-alert__flex">
                        <a href="" class="medium-btn button">обробити</a>
                        <p class="widget-summary-alert__advice">Підпишіть контракти з контрагентами або переведіть їх до архівних</p>
                    </div>
                </div>
                <div class="widget-summary-alert">
                    <div class="widget-summary-alert__flex">
                        <h5 class="widget-summary-alert__count">2</h5>
                        <h5 class="widget-summary-alert__info">угоди з близьким терміном завершення</h5>
                    </div>
                    <div class="widget-summary-alert__flex">
                        <a href="" class="medium-btn button">обробити</a>
                        <p class="widget-summary-alert__advice">Перевірте виконання зобов'язання за контрактом, позначте правочини як виконані або перенести строк виконання</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <h6 class="footer__text">©2024 Company Name</h6>
        <div class="footer__right">
            <a href="" class="link">Техпідтримка</a>
            <h6 class="footer__text">Построено на <a href="" class="link">OpenCRM</a></h6>
        </div>
    </footer>
</body>
</html>