@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
/* ~~~~~~~~~~~~ Reset style ~~~~~~~~~~~~ */
* {box-sizing: border-box;}
h1, h2, h3, h4, p {margin-top: 0;margin-bottom: 0;}
ul {margin-top: 0;margin-bottom: 0;padding-left: 0;}
img {display: block;max-width: 100%;height: auto;}
body {
    overflow: hidden;
    background-color: var(--clr-neutral);
    font-family: 'Rubik', sans-serif;
    margin: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {flex-grow: 1;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
    --clr-primary: #4DB02A;
    --clr-lightsuccess: #61c53d;
    --clr-primary60: #9CD388;
    --clr-success20: #D8F4CF;
    --clr-neutral: #F0F0F0;
    --clr-grey: #5A5A5A;
    --clr-lightgrey: #BFBFBF;
    --clr-neutral10: #F7F7F7;
    --clr-secondary: #073954;
    --clr-lightsecondary: #3AB4F8;
    --clr-warning: #FAE105;
    --clr-warning20: #FFFACE;
    --clr-secondary20: #DEF3FE;
    --clr-grey60: #888888;
    --clr-error: #CC1414;
}
.container {
    margin-left: 290px;
    padding: 20px;
}
.title {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 36;
    text-align: center;
}
.block-title {
    font-size: 14px;
    color: black;
    font-weight: 500;
    margin: 0;
}
.block-subtitle {
    color: var(--clr-lightgrey);
    font-size: 13px;
}
.button {
    padding: 20px 40px;
    border-radius: 10px;
    background-color: var(--clr-primary);
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
.button:hover {
    background-color: var(--clr-lightsuccess);
}
.medium-btn {padding: 12px 40px;}
.edit-btn {
    background-color: var(--clr-primary);
    padding: 10px;
    border-radius: 50%;
}
.arrow-btn {
    background-color: transparent;
    border: solid 2px var(--clr-primary);
    border-radius: 50%;
    padding: 11px 10px;
}
.arrow-btn:hover {
    background-color: transparent;
    transform: scale(95%);
}
.mini-border-button {
    display: flex;
    align-items: center;
    gap: 5px;
    border: solid 1px black;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    transition: 0.2s;
}
.mini-border-button:hover {
    transform: scale(95%);
}
.link {color: var(--clr-lightgrey);}
.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row {
    display: flex;
    gap: 20px;
}
/* ~~~~~~~~~~~~~~~ Header ~~~~~~~~~~~~~~~ */
.logo {
    width: 300px;
    margin: 50px auto 75px;
}
/* ~~~~~~~~~~~~~~~ Widget ~~~~~~~~~~~~~~~ */
.widgets {
    display: flex;
    justify-content: space-between;
}
.widget {
    background-color: var(--clr-warning);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.widget__flex {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}
.mini-gap-widget__flex {gap: 12px;}
.widget-summary-alert__count {
    font-size: 20px;
    font-weight: 400;
    background-color: white;
    width: 38px;
    height: 38px;
    text-align: center;
    vertical-align: auto;
    border-radius: 50%;
    padding: 6px;
    margin: 0;
}
.widget-summary-alert__info {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}
.widget-summary-alert__advice {font-size: 14px;}
.mini-widgets {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.mini-widget {
    width: 382px;
    height: 161px;
    background-color: var(--clr-warning20);
}
.primary-mini-widget {background-color: var(--clr-success20);}
.grey-mini-widget {background-color: var(--clr-neutral10);}
.mini-widget__title {
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}
.mini-widget__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mini-widget__count-item {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.mini-widget__count {
    font-size: 14px;
    font-weight: 400;
    background-color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: auto;
    border-radius: 50%;
    padding: 4px;
    margin: 0;
    box-shadow: 0 0 10px #00000038;
}
.mini-widget__count-red {
    background-color: var(--clr-error);
    box-shadow: none;
    color: white;
}
/* ~~~~~~~~~~~~~ User info ~~~~~~~~~~~~~~ */
.user-info {
    height: 465px;
    width: 40%;
    background-color: var(--clr-secondary20);
}
.user-info__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.user-info__edit {
    position: absolute;
    top: 0;
    right: 0;
}
.user-info__avatar {
    width: 80px;
    border-radius: 50%;
    border: solid 1px var(--clr-lightsecondary);
}
.mini-avatar {width: 30px;}
.user-info__name {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 500;
}
.user-info__bottom ul {list-style: none;}
.user-info__bottom-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.user-info__item {
    display: flex;
    align-items: center;
}
.user-info__item-content {margin-left: 12px;}
.user-info__title {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}
.user-info__description {
    font-size: 13px;
    color: var(--clr-grey);
    margin-top: 3px;
}
/* ~~~~~~~~~~~~~~ Sidenav ~~~~~~~~~~~~~~~ */
.sidenav {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    background-color: var(--clr-secondary);
    padding-top: 20px;
}
.sidenav::after {
    content: url('../../assets/img/icons/arrow.svg');
    position: absolute;
    transform: rotate(180deg);
    top: 21px;
    right: -32px;
    padding: 2px 8px;
    border: solid 1px var(--clr-lightsecondary);
    border-radius: 50%;
    margin-right: 20px;
    transition: 0.2s;
    cursor: pointer;
    background-color: var(--clr-lightsecondary);
}
.sidenav .logo {
    width: 170px;
    margin: 0 0 0 20px;
}
.sidenav ul li {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidenav ul li a::after {
    content: url('../../assets/img/icons/arrow.svg');
    position: absolute;
    right: 0;
    padding: 2px 8px;
    border: solid 1px var(--clr-lightsecondary);
    border-radius: 50%;
    margin-right: 20px;
    transition: 0.2s;
}
.sidenav ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding: 20px;
}
.sidenav__green-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding: 13px;
    background-color: var(--clr-lightsuccess);
    margin: 40px 0 20px;
    font-weight: 500;
}
.sidenav__green-item::after {
    content: url('../../assets/img/icons/exit.svg');
    position: absolute;
    right: 0;
    margin-right: 25px;
    transition: 0.2s;
}
.sidenav ul li a:hover::after {
    background-color: var(--clr-lightsecondary);
}
.sidenav ul li:hover {
    box-shadow: 0 0 10px #00000038;
}
/* ~~~~~~~~~~~~~~~~ Form ~~~~~~~~~~~~~~~~ */
form {
    padding: 80px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 25px #0000001c;
    margin: 40px auto 0;
}
.form__input-text {
    position: relative;
}
.form__input-text input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 21px;
    border-radius: 10px;
    border: solid 1px var(--clr-lightgrey);
    color: var(--clr-lightgrey);
    position: relative;
    margin-bottom: 20px;
    transition: 0.2s;
    width: 100%;
}
.form__input-text label {
    position: absolute;
    left: 16px;
    top: -9px;
    background-color: white;
    padding: 0 3px;
    font-size: 13px;
    color: var(--clr-lightgrey);
}
.form__input-text input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
    border: solid 1px black;
    color: black;
}
.form__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 298px;
    height: 60px;
}
/* ~~~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~~ */
footer {
    flex-shrink: 0;
    background-color: var(--clr-grey);
    height: 65px;
    width: 100%;
    padding: 20px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.footer__text {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.footer__right {
    display: flex;
    justify-content: space-between;
    gap: 65px;
}
/* ~~~~~~~~~~~~~~~~ Media ~~~~~~~~~~~~~~~ */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}